.page__page-6{
    margin-top: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 200px); 
    position: relative;
    display: none;
}

.page__page-6__list {
    margin: 12px 24px 0 24px;
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
}

.page__page-6__overlay {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 380px;
    background: url('../image/page-6/background.jfif') top/cover no-repeat;
    /* background-position: center; */
    filter: grayscale(1);
    position: absolute;
    display: none;
}

.page__page-6__alpha{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 380px;
    z-index: 0;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 37%,#170f23);
    display: none;
}
.page__page-6__alpha2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 380px;
    z-index: 0;
    opacity: .8;
    background-image: linear-gradient(180deg,#170f23,#170f23);
    display: none;
}