.app {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.uploadFile {
    cursor: pointer;
}

#upload {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #432275; 
  border-radius: 10px;
}

.wrapper {
    display: flex;
}

.container{

}
.dashboards{
    z-index: 7;
    position: absolute;
    bottom: 0;
    height: 90px;
    background-color: #171022;
}
.dashboards-row{
    height: 100%;
}
.col-sm-4{

}
.dashboards__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.dashboards__left-left{

}
.dashboards__left-left-img{
    margin-left: 20px;
    margin-right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.dashboards__left-center{

}
.dashboards__left-center-name-music{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    color: white; 
}
.dashboards__left-center-name-singer{
    color: hsla(0,0%,100%,0.5);
    font-size: 13px;
}
.dashboards__left-right{
    display: flex;
}
.dashboards__left-right-love{
    margin-left: 12px;
}
.far{

}
.fa-heart{
    color: #670091;
}
.dashboards__left-right-settings{
    color: white;
    margin-left: 12px;

}
.fas{

}
.fa-ellipsis-h{

}
.dashboards__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboards__center-button{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-size: 18px;
    margin-bottom: 4px;
    cursor: pointer;
}
.dashboards__center-button__random{

}
.fa-random{

}
.dashboards__center-button__prev{

}
.fa-step-backward{

}
.dashboards__center-button__play{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
    border: 2px solid white;
}


.icon-pause {
    display: none;
}

.dashboards__center-button__play--active .icon-play{
    display: none;
}

.dashboards__center-button__play--active .icon-pause{
    display: block;
}
.fa-pause{
    
}
.icon-pause{

}


}
.fa-play{

}
.icon-play{

}
.dashboards__center-button__next{

}
.fa-step-forward{

}
.dashboards__center-button__repeat{

}
.fa-redo{

}
.dashboards__center-bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress{
    color: white;
    height: 4px;
    width: 76%;

}

.dashboards__center-bottom__time-current {
    color: white;
}

.dashboards__center-bottom__time-end {
    color: white;
}

.container.dashboards{

}
.col-sm-4.dashboards__left{

}
.far.fa-heart{

}
.fas.fa-ellipsis-h{

}
.col-sm-4.dashboards__center{

}
.fas.fa-random{

}
.fas.fa-step-backward{

}
.fas.fa-pause.icon-pause.{

}
.fas.fa-play.icon-play.{

}
.fas.fa-step-forward{

}
.fas.fa-redo{

}

.col-xl-4{

}
.dashboards__right{
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
}

.dashboards__right__items {
    margin: 12px;
    cursor: pointer;
}

.dashboards__left__mv{

}
.col-xl-4.dashboards__right{

}

.dashboards__left__mv {
    cursor:not-allowed;
}

.progress-volume {
    height: 4px;
    cursor: pointer;
}

.fa-volume-mute {
    display: none;
}

.dashboards__left__volume--active .fa-volume-mute {
    display: block;
}

.dashboards__left__volume--active .fa-volume-up {
    display: none;
}

/* MENU */
.col-xl-2{

}
.menu{
    width: 19%;
    background-color: #231B2E;
    padding-top: 12px;
}
.menu__img{
    width: 120px;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 30px;
}
.menu__list{
    list-style: none;
  
    padding-left: 0;
}
.menu__list-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1px 0;
    padding-left: 30px;
}

.menu__list-item--4-live {
    width: 34px;
    border-radius: 4px;
    text-transform: uppercase;
    height: 16px;
    color: white;
    background-color:red;
    margin-left: 9px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items:center;
}

.menu__list-item-vip{
    padding: 15px 8px;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}
.menu__list-item-vip-text{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    border-color: #ffdb00;
    line-height: 1.67;
    color: white;
}

.menu__list-item-vip-link {
    background-color: #ffdb00;
    border-color: #ffdb00;
    color: black;
    display: inline-block;
    padding: 6px 35px;
    font-size: 12px;
    font-weight: 600;
}

.no-page {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu__list-item:hover .menu__list-item__icon,
.menu__list-item:hover .menu__list-item__des {
    color: white;
}

.menu__list-item--active {
    background-color: rgba(218, 218, 218, 0.1);
}

.menu__list-subnav {
    overflow-y: scroll;
    height: 200px;
    padding-bottom: 24px;
}


.menu__list-item__icon{
    color: #DADADA;
    font-size: 26px;
}
.icofont-bag-alt{

}
.menu__list-item__des{
    margin-left: 12px;
    font-weight: bold;
    white-space: nowrap;
    line-height: normal;
    font-size: 13px;
    color: #DADADA;

}

.menu__list-item__underline {
    margin: 12px 0;
    border: 1px solid rgb(92, 90, 90);
}

.col-xl-2.menu{

}


/* HEADER */

.page {
    background-color:#1D1528;
    width: 81%;
    /* flex: 1; */
    position: relative;
}

.page__header {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 80%;
}

.page__header__left{
    display: flex;
    align-items:center;
    flex: 7.8;
}
.page__header__left-prev{
    cursor: pointer;
    color: #DADADA;
    font-size: 36px;
}
.icofont-long-arrow-left{
    margin-left: 36px;
}
.page__header__left-next{
    cursor: pointer;
    color: rgb(107, 102, 102);
    font-size: 36px;

}
.icofont-long-arrow-right{

}

.page__header__left-search{ 
    margin-left: 12px;
    display: flex;
    padding-left:12px;
    background-color: #2F2739;
    align-items: center;
    width: 68%;
    height: 40px;
    border-radius: 24px;
}
.page__header__left-search__icon{
    color: #DADADA;

}
.icofont-search{
    
}
.page__header__left-search__input{
    background-color: #2F2739;
    outline: none;
    border: none;
    color: white;
    padding-left: 12px;
    width:100%;
    border-radius: 24px;

}

.page__header__right {
    flex: 2.2;
}

.page__header__right {
    display: flex;
    list-style: none;
}

.page__header__right-items {
    color: #DADADA;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: #2C2436;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 4px;
    cursor: pointer;
}

.avatar {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.page__header__right-items--setting {
    position: relative;
}

.page__header__right-items--setting-absolute{
    display: none;
    padding: 6px 0;
    z-index: 6;
    background-color: #432275;
    width: 240px;
    height: 418px;
    position: absolute;
    top: 64px;
    right: 100px;
    border-radius: 4px;
}   
.page__header__right-items--setting-absolute-list{
    list-style: none;
    padding-left: 0;
}
.page__header__right-items--setting-absolute-list-items{
    cursor: pointer;
    display: flex;
    padding: 8px 16px;
    align-items: center;
}

.page__header__right-items--setting-absolute-list-items-underline {
    border: 1px solid #888;
    margin: 8px 0;
}

.page__header__right-items--setting-absolute-list-items:hover {
    background-color: rgb(189 189 189 / 50%);
}

.page__header__right-items--setting-absolute-list-items-icon{
    font-size: 18px;
    color: rgb(218, 218, 218);      
    width: 24px;
}   
.fas{

}
.fa-ban{

}
.page__header__right-items--setting-absolute-list-items-des{
    white-space: nowrap;
    color: rgb(218, 218, 218);
    font-size: 15px;
    margin-left: 8px;
}   
.fas.fa-ban{

}

.page__header__right-items--setting-absolute-list-items--active.page__header__right-items--setting-absolute-list-items .page__header__right-items--setting-absolute-list-items-icon,
.page__header__right-items--setting-absolute-list-items--active.page__header__right-items--setting-absolute-list-items .page__header__right-items--setting-absolute-list-items-des{
    color: #FFFFFF80;
}

.page__header__right-items--setting-absolute-list-items--active.page__header__right-items--setting-absolute-list-items:hover .page__header__right-items--setting-absolute-list-items-icon,
.page__header__right-items--setting-absolute-list-items--active.page__header__right-items--setting-absolute-list-items:hover .page__header__right-items--setting-absolute-list-items-des {
    color: white;
}


/* THEME */

.app-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 3;
    display: none;
}

.page__header__right-items--theme-Absolute{
    position: fixed;
    z-index: 8;
    top: 0;
    bottom: 0;
    background-color: #432275;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 24px 30px;
    overflow-y: scroll;
    display: none;

}

.page__header__right-items--theme-Absolute-close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.page__header__right-items--theme-Absolute-titles{
    color: white;
}

.page__header__right-items--theme-Absolute-list{
    padding-left: 0;
    list-style: none;
}
.page__header__right-items--theme-Absolute-list-items{
    margin-bottom: 20px;
    
}
.page__header__right-items--theme-Absolute-list-items-title{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.page__header__right-items--theme-Absolute-list-items-list{
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.page__header__right-items--theme-Absolute-list-items-list-items{

}
.page__header__right-items--theme-Absolute-list-items-list-items-image{ 
    width: 152px;
    height: 102px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

.page__header__right-items--theme-Absolute-list-items-list-items-image-tick {
    position: absolute;
    bottom: 6px;
    right: 6px;
    color: #7200A1;
    font-size: 18px;
    display: none;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image--active .page__header__right-items--theme-Absolute-list-items-list-items-image-tick {
    display: block;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image-img {
    width: 100%;
    height: 100%;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image:hover .page__header__right-items--theme-Absolute-list-items-list-items-image-absolute {
    display: flex;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image:hover .page__header__right-items--theme-Absolute-list-items-list-items-image-img{
    transform: scale(1.1);
    opacity: 0.8;
    transition: transform .8s linear;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image-absolute {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.page__header__right-items--theme-Absolute-list-items-list-items-des{
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image-absolute-execute {
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    background-color: #7200A1;
    padding: 3px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 12px;
    margin-bottom: 8px;
}

.page__header__right-items--theme-Absolute-list-items-list-items-image-absolute-see{
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    background-color: #504949;
    padding: 3px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 12px;
}
.page__header__right-items--theme-Absolute-list-items-list-items-image-absolute-see:hover,
.page__header__right-items--theme-Absolute-list-items-list-items-image-absolute-execute:hover {
    opacity: 0.9;
}

/* MESSAGE */


.app-message {
    height:  84px;
    width: 320px;
    position: absolute;
    z-index: 7;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #4CB050;
    border-radius: 4px;
    color: white;
    /* display: none; */
    animation: moveBottomToTop 3s linear infinite;
}

@keyframes moveBottomToTop {
    0%   {bottom: 20px; opacity: 1;}
    25%  {bottom: 80px; opacity: 0.9;}
    50%  {bottom: 160px; opacity: 0.8;}
    75%  {bottom: 240px; opacity: 0.7;}
    100% {bottom: 300px; opacity: 0.6;}
}

.app-message__side{
    background-color: #3e8840;
    width: 12px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.app-message__bell{
    font-size: 20px;
    margin-left: 12px;
}

.app-message__text{
    margin-left: 12px;
}
.app-message__text-title{

}
.app-message__text-content{

}
.app-message__close{
    font-size: 20px;
    margin-left: 12px;
    cursor: pointer;

}

/* SIDEBAR */

.app__sidebar {
    width: 330px;
    position: absolute;
    background-color:#170f23;
    height: 100%;
    z-index: 6;
    overflow-y: scroll;
    padding: 16px 12px;
    /* animation: ; */
    animation-iteration-count: 1;
    display: none;
}

@keyframes moveFromRightToLeft {
    from {
        right: -320px;
    } to {
        right: 0;
    }
}

@keyframes moveFromLeftToRight {
    from {
        right: 0;
    } to {
        right: -320px;
    }
}

.app__sidebar-header{
    display: flex;
    color: #dadada;
    align-items: center;    
    cursor: pointer;
}  

.app__sidebar-header-left{
    background-color: #2F2739;
    display: flex;
    align-items: center;
    font-size: 13px;
    width: 240px;
    padding: 4px 4px;
    height: 34px;
    justify-content: space-between;
    border-radius: 16px;
}   
.app__sidebar-header-left-button{
    margin-left: 0px;
    border-radius: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-weight: bold;
}

.app__sidebar-header-left-button.app__sidebar-header-left-button--active {
    background-color:hsla(0,0%,100%,0.3);

}

.app__sidebar-header-right,
.app__sidebar-header-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #2F2739;
    margin-left: 4px;
}

.app__sidebar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 18px;
}
.app__sidebar-list-item{
    display: flex;
    cursor: pointer;
    padding: 4px 4px;
    border-radius: 4px;
}
.app__sidebar-list-item--1 {
    background-color: #7200A1;
    border-radius: 4px;
}

.app__sidebar-list-item--1 .app__sidebar-list-item__background{
    opacity: 0.7;
}

.app__sidebar-list-item--1 .app__sidebar-list-item__background-icon{
    display: block;
}

.app__sidebar-list-item:hover {
    background-color: #493F59;
}

.app__sidebar-list-item:hover .app__sidebar-list-item__background-icon{
    display: block;
}

.app__sidebar-list-item:hover .app__sidebar-list-item__background{
    opacity: 0.5;
}

.app__sidebar-list-item__background{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    position: relative;

}
.app__sidebar-list-item__img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.app__sidebar-list-item__background-icon{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.app__sidebar-list-item-des{
    margin-left: 14px;
}
.app__sidebar-list-item-des-name{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.app__sidebar-list-item-des-singer{
    color: hsla(0,0%,100%,0.5);
    font-size: 13px;
}

.app__sidebar-list-title{
    margin-top: 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.app__sidebar-list-where{
    display: flex;
    margin-bottom: 12px;
}
.app__sidebar-list-where-1{
    color: hsla(0,0%,100%,0.5);
    font-size: 15px;
}
.app__sidebar-list-where-2{
    color: #7200A1;
    font-size: 15px;
    padding-left: 4px;
}